@model Airlines.Models.Flight

@{
    ViewBag.Title = "ChooseSeats";
}

<input type="text" value="@Model.ID" />
<h2>ChooseSeats</h2>
<div class='Bresult'>
</div>
<div class='Eresult'>
</div>
<div class="container planeModel">
    <div class="rows">
        <div class="buisness"></div>
        <div class="empty1"></div>
        <div class="econom"></div>
    </div>
</div>
<!--секция скриптов-->
@section Scripts {
    @Scripts.Render("~/scripts/PlaneSeatsEconom.js")
    @Scripts.Render("~/scripts/PlaneSeatsBuisness.js")
}