
@{
    ViewBag.Title = "Confirmation";
}

<h2>Билеты забронированы!</h2>
<p>Информацию о заказах и забронированных билетах Вы можете посмотреть в пункте меню <a href="/Manage/Orders">"Заказы"</a></p>

