
<div class="form-row">
    <div class="form-group col-md-3">
        <label for="Surname">Фамилия</label>
        <input type="text" class="form-control" name="Surname" id="Surname" placeholder="Фамилия" required>
    </div>
    <div class="form-group col-md-3">
        <label for="Name">Имя</label>
        <input type="text" class="form-control" name="Name" id="Name" placeholder="Имя" required>
    </div>
    <div class="form-group col-md-3">
        <label for="Patronymic">Отчество</label>
        <input type="text" class="form-control" name="Patronymic" id="Patronymic" placeholder="Отчество">
    </div>
    <div class="form-group col-md-3">
        <label for="Sex">Пол</label>
        <input type="text" class="form-control" name="Sex" id="Sex" placeholder="Пол">
    </div>
</div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="BirthDate">Дата рождения</label>
            <input type="date" class="form-control" name="BirthDate" id="BirthDate" placeholder="Дата рождения" required>
        </div>
        <div class="form-group col-md-4">
            <label for="PassportNumber">Паспорт</label>
            <input type="text" class="form-control" name="PassportNumber" id="PassportNumber" placeholder="Серия и № паспорта" required>
        </div>
        <div class="form-group col-md-4">
            <label for="Citizenship">Гражданство</label>
            <input type="text" class="form-control" name="Citizenship" id="Citizenship" placeholder="Гражданство">
        </div>
    </div>
