
@{
    ViewBag.Title = "View";
}

<h2>View</h2>
<div class='Bresult'>
</div>
<div class='Eresult'>
</div>
<div class="col-lg-4 container planeModel">
    <div class="rows">
        <div class="buisness"></div>
        <div class="empty1"></div>
        <div class="econom"></div>
    </div>
</div>
<input id="p" type="text" />
<!--секция скриптов-->
@section Scripts {
    @Scripts.Render("~/scripts/PlaneSeatsEconom.js")
    @Scripts.Render("~/scripts/PlaneSeatsBuisness.js")
}
