
@{
    ViewBag.Title = "Ticket";
}

<h2>Ticket</h2>
<div class="container boardingPass">
    <div class="col-lg-9 boardingPassHeadLeft">
        <p class="ticketHeadInfoLeft"><strong>BoardingPass</strong></p>
    </div>
    <div class="col-lg-3 boardingPassHeadRight">
        <p class="ticketHeadInfoRight"><strong>BoardingPass</strong></p>
    </div>
    <div class="col-lg-9 boardingPassBodyLeft">
        <div class="obertka">
            <div class="col-lg-2 leftBodyDivInfo">
                <p><strong>ФИО</strong></p>
            </div>
            <div class="col-lg-10 ticketInfo">
                <p class="leftBodyRightInfo"><strong>Платов Артур Сергеевич</strong></p>
            </div>
            <div class="col-lg-2 leftBodyDivInfo">
                <p><strong>ОТКУДА</strong></p>
            </div>
            <div class="col-lg-4 ticketInfo">
                <p class="leftBodyRightInfo"><strong>Хабаровск</strong></p>
            </div>
            <div class="col-lg-2 leftBodyDivInfo">
                <p><strong>ДАТА</strong></p>
            </div>
            <div class="col-lg-4 ticketInfo">
                <p class="leftBodyRightInfo"><strong>10.10.2010</strong></p>
            </div>
            <div class="col-lg-2 leftBodyDivInfo">
                <p><strong>КУДА</strong></p>
            </div>
            <div class="col-lg-4 ticketInfo">
                <p class="leftBodyRightInfo"><strong>Москва</strong></p>
            </div>
            <div class="col-lg-2 leftBodyDivInfo">
                <p><strong>КЛАСС</strong></p>
            </div>
            <div class="col-lg-4 ticketInfo">
                <p class="leftBodyRightInfo"><strong>Бизнес</strong></p>
            </div>
            <div class="col-lg-3 downLeft">
                <p class="ticketInfoLeftPartLeft"><strong>Ворота</strong></p>
            </div>
            <div class="col-lg-3 downLeft">
                <p class="ticketInfoLeftPartLeft"><strong>Рейс №</strong></p>
            </div>
            <div class="col-lg-3 downLeft">
                <p class="ticketInfoLeftPartLeft"><strong>Посадка</strong></p>
            </div>
            <div class="col-lg-3 downLeft">
                <p class="ticketInfoLeftPartLeft"><strong>Место</strong></p>
            </div>
            <div class="col-lg-3 secondLine">
                <p class="ticketInfoLeftPartLeft"><strong>C-17</strong></p>
            </div>
            <div class="col-lg-3 secondLine">
                <p class="ticketInfoLeftPartLeft"><strong>ХЗ-228</strong></p>
            </div>
            <div class="col-lg-3 secondLine">
                <p class="ticketInfoLeftPartLeft"><strong>17:00</strong></p>
            </div>
            <div class="col-lg-3 secondLine">
                <p class="ticketInfoLeftPartLeft"><strong>1-1</strong></p>
            </div>
            <div class="col-lg-12 joke">
                <p><strong>Счастливого пути, ПИДАРАС!!! :)</strong></p>
            </div>
        </div>
    </div>
        <div class="col-lg-3 boardingPassBodyRight">
            <div class="obertka">
                <div class="col-lg-3 l">
                    <p class="ticketInfoLeftPartRight"><strong>ФИО</strong></p>
                </div>
                <div class="col-lg-9 ticketInfo">
                    <p class="ticketInfoRightPartRight">Платов Артур Сергеевич</p>
                </div>
                <div class="col-lg-3 l">
                    <p class="ticketInfoLeftPartRight"><strong>ОТКУДА</strong></p>
                </div>
                <div class="col-lg-9 ticketInfo">
                    <p class="ticketInfoRightPartRight">Хабаровск</p>
                </div>
                <div class="col-lg-3 l">
                    <p class="ticketInfoLeftPartRight"><strong>КУДА</strong></p>
                </div>
                <div class="col-lg-9 ticketInfo">
                    <p class="ticketInfoRightPartRight">Москва</p>
                </div>
                <div class="col-lg-4 down">
                    <p class="ticketInfoLeftPartRight"><strong>Дата</strong></p>
                </div>
                <div class="col-lg-4 down">
                    <p class="ticketInfoLeftPartRight"><strong>Время</strong></p>
                </div>
                <div class="col-lg-4 down">
                    <p class="ticketInfoLeftPartRight"><strong>Класс</strong></p>
                </div>
                <div class="col-lg-4 firstLine">
                    <p class="ticketInfoLeftPartRight">10.10.2010</p>
                </div>
                <div class="col-lg-4 firstLine">
                    <p class="ticketInfoLeftPartRight">17:00</p>
                </div>
                <div class="col-lg-4 firstLine">
                    <p class="ticketInfoLeftPartRight">Бизнес</p>
                </div>
                <div class="col-lg-4 down">
                    <p class="ticketInfoLeftPartRight"><strong>Ворота</strong></p>
                </div>
                <div class="col-lg-4 down">
                    <p class="ticketInfoLeftPartRight"><strong>Рейс</strong></p>
                </div>
                <div class="col-lg-4 down">
                    <p class="ticketInfoLeftPartRight"><strong>Место</strong></p>
                </div>
                <div class="col-lg-4 firstLine">
                    <p class="ticketInfoLeftPartRight">С-17</p>
                </div>
                <div class="col-lg-4 firstLine">
                    <p class="ticketInfoLeftPartRight">ХЗ-228</p>
                </div>
                <div class="col-lg-4 firstLine">
                    <p class="ticketInfoLeftPartRight">1-1</p>
                </div>
            </div>
        </div>
    </div>

