
html, body {
    height:100%;
    margin: 0;
}
.wrapper {
    min-height: 100%;
}
.navbar-inverse {
    padding: 1%;
    border-radius: 0;
}
    /* Set padding to keep content from hitting the edges */
    .body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

footer{
    text-align:center;
}
.clear {
    clear: both;
}
.btnOrder {
    border-radius: 5px;
    background-color: darkorange;
    color: azure;
}

.empty {
    height: 15px;
    background-color: white
}

.btnZone {
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e3c53;
}

.mainZone {
    height: 180px;
    background-color: #1e3c53;
    border-right: 2px solid azure;
}

.flight {
    background-color: #1e3c53;
    border-radius: 5px;
}

.info {
    font-size: small;
    color: grey;
}

.airline {
    margin-top: 2%;
    font-size: x-large;
    color: azure;
}

.time {
    font-size: medium;
    color: azure;
}

.tripTime {
    text-align: center;
    color: grey;
    font-size: small;
}

.airport {
    font-size: small;
    color: Highlight;
}

.line {
    background-color: grey;
    height: 5px;
    border: 1px solid grey;
    border-radius: 5px;
}

.svgD {
    transform: rotate(-30deg);
}

.svgA {
    transform: rotate(30deg);
}

.departurePlane {
    margin-left: -5%;
}

.arrivalPlane {
    margin-left: 3%;
}

.tickets {
    height: 100%;
}