
html, body {
    height:100%;
    margin: 0;
    background: url(../Ресурсики/airline-1807486_1920.jpg) no-repeat;
    background-color: #222;
    color: white;
}
.log {
    float: left;
}
.wrapper {
    min-height: 100%;
}
.navbar-inverse {
    padding: 1%;
    border-radius: 0;
}
    /* Set padding to keep content from hitting the edges */
    .body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.head {
    background-color: #1e3c53;
    
}

.he {
    margin-bottom:20px;
    background-color: darkorange;
}

.log{
    display:inline-block;
}

.nav > li > a {
    color: azure;
}

.nav > li > a:hover {
    color: #1e3c53
}
.body-content {
    background-color: #222;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

footer {
    text-align: center;
    background-color: #1e3c53;
    color: azure;
}
.clear {
    clear: both;
}

.btnOrder {
    border-radius: 5px;
    background-color: #ffa700;
    color: azure;
}

.empty {
    height: 20px;
    background-color: transparent;
}
.submitbtn {
    text-align:center;
    align-content:center;
}

.btnZone {
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #414A4C;
}

.mainZone {
    height: 180px;
    background-color: #414A4C;
    border-right: 2px solid #2F353B;
}

.flight {
    width: 800px;
    margin-top: 20px;
    background-color: #414A4C;
    border-radius: 5px;
}

.info {
    margin-top:-10px;
    font-size: small;
    color: grey;
}

.airline {
    margin-top: 2%;
    font-size: xx-large;
    color: darkorange;
}

.time {
    font-size: xx-large;
    color: azure;
}

.tripTime {
    text-align: center;
    color: grey;
    font-size: small;
}

.airport {
    font-size: small;
    color: Highlight;
}

.line {
    background-color: grey;
    height: 5px;
    border: 1px solid grey;
    border-radius: 5px;
}

.svgD {
    transform: rotate(-30deg);
}

.svgA {
    transform: rotate(30deg);
}

.departurePlane {
    margin-left: -8%;
}

.arrivalPlane {
    margin-left: 3%;
}

.tickets {
    height: 100%;
}

.right{
    text-align:right;
}

.left{
    margin-left:-20px;
}

.planeModel {
    width:280px;
    height:866px;
    background: url(../Ресурсики/model.png) no-repeat;
    background-size: contain;
}

.planes {
    padding: 0px 0px 0px 0px;
}

/*.placeBtwPlanes{
    height: 100%;
    width: 10px;
}*/

.rows {
    margin-top: 107px;
    margin-left: 75px;
    width: 99px;
    height: 39%;
}

.buisness {
    padding-top:25px;
    margin-left: 14px;
    width: 70%;
    height: 120px;
}

.econom {
    padding-left:2px;
    margin-left: 5px;
    width: 91%;
    height: 165px;
}

.empty1{
    width:100%;
    height:50px;
}

.transferLine {
    background-color: darkorange;
    height: 5px;
    border: 1px solid darkorange;
    border-radius: 5px;
}

.transferAirport {
    margin-top: 33px;
    margin-left: 0px;
    font-size: small;
    color: Highlight;
}

.boardingPass {
    padding-right:-15px;
    border-radius:15px;
    height: 230px;
    width:70%;
}

.boardingPassHeadLeft {
    border-right: 2px dashed azure;
    border-top-left-radius: 15px;
    background-color: darkorange;
    height: 24%;
}

.boardingPassHeadRight {
    border-top-right-radius: 15px;
    background-color: darkorange;
    height: 24%;
}

.boardingPassBodyLeft {
    border-right: 2px dashed azure;
    border-bottom-left-radius: 15px;
    background-color: lightgray;
    height: 76%;
}

.boardingPassBodyRight {
    border-bottom-right-radius: 15px;
    background-color: lightgray;
    height: 76%;
}

.ticketHeadInfoLeft{
    text-align:left;
    font-size:xx-large;
}

.ticketHeadInfoRight {
    margin-top:5%;
    text-align: left;
    font-size: x-large;
}

.ticketInfoLeftPartRight {
    margin-left:-13px;
    margin-top:1px;
    font-size: xx-small;
}

.ticketInfoRightPartRight {
    margin-right:-13px;
    margin-left: -13px;
    margin-top: 1px;
    font-size: xx-small;
}

.ticketInfo {
    margin-top: 5px;
    height: 15px;
    border: 1px solid black;
}

.inf {
    font-size: xx-small;
    height: 15px;
}
.l {
    margin-top: 5px;
    height: 15px;
}

.obertka1 {
    width: 100%;
    height: 100%;
}

.down{
    margin-top:5px;
}

.downLeft{
    margin-top:15px;
}

.firstLine {
    border: 1px solid black;
    height: 20px;
}
.secondLine {
    border: 1px solid black;
    height: 30px;
}

.leftBodyDivInfo {
    text-align:left;
    height: 15px;
    margin-top: 5px;
}

.leftBodyRightInfo {
    font-size:medium;
    margin-top:-4px;
}

.ticketInfoLeftPartLeft{
    font-size:large;
}

.joke{
    margin-top:5px;
    text-align:center;
}

/*Всё, что связано с сиденьями*/
.cinemaHall {
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

.Bseat {
    height:15px;
    width: 15px;
    margin-right: 2px;
    background-color: #999999;
    display: inline-block;
    cursor: pointer;
}

.Eseat {
    height: 10px;
    width: 10px;
    margin-right: 2px;
    background-color: #999999;
    display: inline-block;
    cursor: pointer;
}

.passageBetween {
    height: 1px;
    width: 100%;
    display: block;
}

.no {
    cursor: not-allowed;
    background-color: black;
}

.bay {
    background-color: #ffa700;
}

.ListBox{
    visibility:hidden;
}

.tee{
    color: black;
}

.Bresult {
    font-size: 10px;
    display: inline-block;
    width: 90px;
    height: 200px;
    overflow-y: auto;
    margin-right: 5px;
    background-color:aqua;
}

.Eresult {
    font-size: 10px;
    display: inline-block;
    width: 90px;
    height: 200px;
    overflow-y: auto;
    margin-right: 5px;
    background-color:aquamarine;
}

.emptyBtwSeatsEconom{
    margin-left:3px;
    margin-right:3px;
    width:10px;
    height:10px;
    display:inline-block;
}

.emptyBtwSeatsBuisness {
    margin-left: 3px;
    margin-right: 3px;
    width: 29px;
    height: 15px;
    display: inline-block;
}
.emptyBuisness {
    width:100%;
    height:18px;
}

@media (max-width: 992px)
{
    .tickets{
        width:100%;
        border-right: 0px;
        padding-right: 0px;
    }
    .mainZone {
        border-right: 0px;
    }
    .flight {
        width: 700px;
    }
    .btnZone{
        height:80px;
    }

}
@media (max-width: 768px) {
    .flight{
        width: 100%;
    }
    .tripTime{
        color: white;
    }
}