
<h3>@ViewBag.Message</h3>

<address>
    РФ, Хабаровский край,
    г.Хабаровск, ул. Серышева 47, 680000<br />
    <abbr title="Телефон">Т:</abbr>
    8-(800)-555-35-35
</address>
<h3>Мы в социальных сетях:</h3>
<address>
    Корнеева А.С.:<a href="https://vk.com/heart_attack66">Тык</a><br />
    Платов А.С.:<a href="https://vk.com/id166109961">Тык</a>
</address>