
@{
    ViewBag.Title = "Профиль";
}

<div>
    <h3>Билеты</h3>
    <form method="post">
        <input type="hidden" value="@ViewBag.CustomerId" name="CustomerId" />
        <table>
            <tr>
                <td>Введите </td>
            </tr>
        </table>
    </form>
</div>
<h2>Go</h2>

